.App {
  color: white;
  margin: 0 auto;
  background-color: #001220;
}

.orange{
  background-color: #c05a06;
  margin: 0;
}

h1 {
  font-size: 7rem;
  text-align: center;
  padding: 1em 0;
  margin: 0;
}

.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.layer-1 {
  aspect-ratio: 900/200;
  background-image: url(./images/layered-waves-1.svg);
  margin: 0;
}

.layer-2 {
  aspect-ratio: 800/200;
  background-image: url(./images/wave-1.svg);
  margin: 0;
}

.layer-3 {
  aspect-ratio: 800/200;
  background-image: url(./images/layered-waves-2.svg);
  margin: 0;
}

.second-text{
  background-color: #001220;
  margin: 0;
  padding: 3em 0 5em 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

.second-text p{
  text-transform: uppercase;
  font-weight: 900;
  color:#e4d239;
}

.Blob {
  background-color: #991414;
  padding: 7em 0 18em 0;
  text-align: center;
}

.Blob h1 {
  margin-top: 0em;
  position: absolute;
  z-index: 2;
  color:#991414;
}

.Footer {
  margin: 0;
  background-color: #2c0538;
}

h2 {
  margin: 0 auto;
  padding: 1em 0 1em 0;
  text-align: center;
}

#blob-state-2, #blob-state-3 {
  visibility: hidden;
}

.blob-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

svg {
  transform: scale(0.6);
  position: absolute;
  z-index: 1;
}

button {
  position: absolute;
  z-index: 3;
  margin-top: 20em;
}
